
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/windows-theodolite.csproj.AssemblyReference.cache
obj/Debug/windows-theodolite.csproj.CoreCompileInputs.cache
obj/Debug/windows-theodolite.csproj.FileListAbsolute.txt
obj/Debug/windows-theodolite.csproj.GenerateResource.cache
obj/Debug/windows-theodolite.exe
obj/Debug/windows-theodolite.pdb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
